h2 {

text-align: center;
    color: white;
    font-size: 5vw;
}
li a {
    color: white;
    font-size: 5vw;
}
body {
    background: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif")
}
ul {

text-align: center;
}

